@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 24px;
    white-space: nowrap;
}

ul {
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;
}

li {
    list-style: none;
}

span {
    height: 0;
    color: white;
    font-weight: 500;
}

body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 30, 52);
}

.wrapper {
    background: radial-gradient(circle at center top, rgba(73, 94, 146, 0.544) 1%, rgb(37, 38, 74) 95%);
    padding: 50px;
    border-radius: 20px;
}

.weather-form__input {
    position: relative;
    display: flex;
    flex-direction: column;
}

.cityList {
    top: 80%;
    position: absolute;
}

.cityList li {
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.4s;
}

.cityList li:hover,
.cityList li:focus
 {
    background-color: rgba(128, 128, 128, 0.367);
    outline: none;
}

.weather-form__input-wrapper {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.weather-form__input_search {
    outline: none;
    border: solid 1px white;
    border-radius: 15px;
    padding: 15px;
}

.weather-form__input_update-button {
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-form__input_update-button img {
    width: 25px;
}


.weather-describe {
    padding: 40px;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.weather-describe__text_img {
    width: 160px;
    height: 160px;
}

.weather-describe__text {
    display: flex;
    padding-top: 60px;
    column-gap: 120px;

}

.weather-describe__city {
    display: flex;
    column-gap: 60px;
    padding-top: 40px;
}

@media screen and (max-width: 375px) {
    .wrapper {
        max-width: 340px;
        height: 570px;
        padding-top: 20px;
        overflow: hidden;
        position: relative;
    }
    .weather-form__input-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        justify-content: center;
    }
    .weather-form__input_update-button {
        position: absolute;
        top: 800%;
    }
    .cityList {
        right: 50%;
        transform: translateX(50%);
        
    }
}


